__pycache__/
*.py[oc]
*.py[cod]
*$py.class

*.so

.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.whl

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

.ipynb_checkpoints

.python-version

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

cython_debug/

.DS_Store

*.log
docker-compose.override.yml

*.db
*.sqlite3

**/*.env

temp